---
layout: default
title: Veelgestelde vragen
permalink: /vragen/
description: Antwoord op de meest gestelde vragen over het Casteleijn College - voor wie, klassen, aanmelden, schooltijden, havo en stage.
---
{% include pkop.html kop='Vragen? <span class="groen-tekst">Hier vind je antwoord.</span>' intro="Staat je vraag er niet bij? Bel of mail ons gerust." %}
<section class="sectie">
  <div class="wrap wrap--smal">
    {% include vragen.html %}
    <div class="kader mt">
      <h3>Nog een vraag?</h3>
      <p>Bel <a href="tel:{{ site.data.school.telefoon_link }}">{{ site.data.school.telefoon }}</a> of mail naar <a href="mailto:{{ site.data.school.email }}">{{ site.data.school.email }}</a>. We helpen je graag.</p>
    </div>
  </div>
</section>
