{%- comment -%} Agenda uit _data/agenda.yml. Verlopen items verbergt de browser automatisch. {%- endcomment -%}
<ol class="agenda" data-max="{{ include.max | default: 99 }}">
  {%- for a in site.data.agenda %}
  {%- assign eind = a.tot | default: a.datum %}
  <li class="agenda__item agenda__item--{{ a.soort }}" data-eind="{{ eind | date: '%Y-%m-%d' }}">
    <time class="agenda__datum" datetime="{{ a.datum | date: '%Y-%m-%d' }}">{{ a.datum | date: '%-d' }}<small>{% assign m = a.datum | date: '%-m' | minus: 1 %}{{ "jan,feb,mrt,apr,mei,jun,jul,aug,sep,okt,nov,dec" | split: "," | slice: m | first }} {{ a.datum | date: '%Y' }}</small></time>
    <div class="agenda__tekst">
      <span class="agenda__soort">{% case a.soort %}{% when 'vrij' %}Leerlingen vrij{% when 'vakantie' %}Vakantie{% else %}Activiteit{% endcase %}</span>
      <h3>{% if a.url %}<a href="{{ a.url | relative_url }}">{{ a.titel }}</a>{% else %}{{ a.titel }}{% endif %}</h3>
      <p>{% if a.tot %}T/m {% include datum.html d=a.tot zonderjaar=true %}. {% endif %}{{ a.tekst }}</p>
    </div>
  </li>
  {%- endfor %}
</ol>
